<div class="fullheight">
  <nz-spin [nzSpinning]="!isFormReady">
    <ng-container *ngIf="isFormReady">
<!--      <button nz-button nzType="danger" [disabled]="!this.result" (click)="saveResult()">Save record</button>-->
      <nz-steps [nzCurrent]="currentStep" (nzIndexChange)="onStepChange($event)">
        <nz-step *ngFor="let wizardPage of wizardTemplate.pages">
        </nz-step>
      </nz-steps>
      <div class="steps-content">
        <div nz-row nzType="flex" nzJustify="center">
          <h3 nz-col>{{wizardTemplate.pages[currentStep].title}}</h3>
        </div>
        <div nz-row nzType="flex" nzJustify="center">
          <h5 nz-col>{{wizardTemplate.pages[currentStep].navTitle}}</h5>
        </div>
        <ng-container *ngIf="currentStep < wizardTemplate.pages.length - 1; else lastStep">
          <div nz-row nzType="flex" nzJustify="center">
            <form nz-form nz-col nzSpan="20" *ngIf="isFormVisible" [nzLayout]="'vertical'"
                  [formGroup]="wizardTemplate.pages[currentStep].pageForm">
              <ng-container *ngFor="let question of wizardTemplate.pages[currentStep].questions">
                <app-dynamic-form-question [form]="wizardTemplate.pages[currentStep].pageForm" [qBase]="question"
                                           (qValue)="onQuestionValue(wizardTemplate.pages[currentStep], question.key, $event)"></app-dynamic-form-question>
              </ng-container>
            </form>
          </div>
          <div nz-row nzType="flex" nzJustify="center" *ngIf="wizardTemplate.pages[currentStep].formValidProcess.length > 0">
            <nz-table #formProcess [nzData]="wizardTemplate.pages[currentStep].formValidProcess">
              <thead>
              <tr>
                <th>Process</th>
                <th>New field</th>
                <th>Result</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let process of formProcess.data; let i = index">
                <td>{{process.processType}}</td>
                <td>{{process.newField}}</td>
                <td>
                  <ng-container [ngSwitch]="process.processType">
                    <ng-container *ngSwitchDefault>
                      {{process.result}}
                    </ng-container>
                    <ng-container *ngSwitchCase="'file-copy'">
                                      <span *ngIf="process.result">
                                      {{process.result.length}} file{{process.result.length > 1 ? 's' : ''}} copied
                                      </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'file-rename'">
                                      <span *ngIf="process.result">
                                      {{process.result.length}} file{{process.result.length > 1 ? 's' : ''}} renamed
                                      </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'folder-watch'">
                                      <span *ngIf="process.result">
                                      {{process.result.length}} file{{process.result.length > 1 ? 's' : ''}} detected
                                      </span>
                    </ng-container>
                  </ng-container>
                </td>
                <td>
                  <button nz-button nzType="primary" *ngIf="!process.auto"
                          (click)="activateProcess(wizardTemplate.pages[currentStep], process, i)">Activate
                  </button>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button nz-button nzType="primary" *ngIf="process.allowCopy && process.result"
                          (click)="clipboardCopy(process.result)">Copy
                  </button>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </ng-container>
        <ng-template #lastStep>
          <nz-result nzStatus="warning" nzTitle="Your record has not been saved yet.">
            <div nz-result-extra>
              <p>Please review your record data before saving.</p>
              <nz-divider nzText="Preview"></nz-divider>
              <app-dynamic-form-result-preview #formDataPreview [data]="result?.record"></app-dynamic-form-result-preview>
            </div>
          </nz-result>
        </ng-template>
      </div>
      <div class="steps-action">
      <div nz-row nzType="flex" nzJustify="center" [nzGutter]="8">
            <nz-col><button nz-button (click)="stepBack()" *ngIf="currentStep > 0">
              <span>Previous</span>
            </button></nz-col>
            <nz-col><button nz-button (click)="stepNext()" *ngIf="currentStep < wizardTemplate.pages.length - 1"
                            [disabled]="!wizardTemplate.pages[currentStep].pageForm.valid">
              <span>Next</span>
            </button></nz-col>
            <nz-col><button nz-button nzType="primary" (click)="stepDone()" *ngIf="currentStep + 1 === wizardTemplate.pages.length"
                            [disabled]="!wizardTemplate.pages[currentStep].pageForm.valid">
              <span>Save record</span>
            </button></nz-col>
          </div>
      </div>
    </ng-container>
  </nz-spin>
</div>

<ng-template #multiFormModalContent>
  <form nz-form>
    <nz-form-item>
      <nz-form-label nzFor="location"><strong>Location</strong></nz-form-label>
      <nz-form-control nzExtra="Select a form to continue">
        <nz-select id="location" nzShowSearch nzAllowClear [(ngModel)]="formCode" [ngModelOptions]="{standalone: true}" required>
          <nz-option *ngFor="let f of formTemplates"  nzLabel="{{f.identifier}}" [nzValue]="f.identifier"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #saveModalContent>
  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Saved to server"><i nz-icon [nzType]="sentToServer ? 'check-circle' : 'close-circle'" nzTheme="fill"></i></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Saved locally"><i nz-icon nzType="check-circle" nzTheme="fill"></i></nz-descriptions-item>
  </nz-descriptions>
</ng-template>



