<div class="fullheight">
  <nz-spin [nzSpinning]="!isFormReady">
    <ng-container *ngIf="isFormReady">
      <button nz-button nzType="primary" (click)="showForm()">Open form</button>
      <button nz-button nzType="danger" [disabled]="!this.result" (click)="saveResult()">Save record</button>
      <nz-steps [nzCurrent]="currentStep" (nzIndexChange)="onStepChange($event)">
        <nz-step *ngFor="let wizardPage of wizardTemplate.pages" [nzTitle]="wizardPage.title"
                 [nzDescription]="wizardPage.navTitle">
        </nz-step>
      </nz-steps>
      <div class="steps-content">
        <form nz-form *ngIf="isFormVisible"
              [formGroup]="wizardTemplate.pages[currentStep].pageForm">
          <ng-container *ngFor="let question of wizardTemplate.pages[currentStep].questions">
            <app-dynamic-form-question [form]="wizardTemplate.pages[currentStep].pageForm" [qBase]="question"
                                       (qValue)="onQuestionValue(wizardTemplate.pages[currentStep], question.key, $event)"></app-dynamic-form-question>
          </ng-container>
        </form>
      </div>
      <div class="steps-action">
        <button nz-button nzType="default" (click)="stepBack()" *ngIf="currentStep > 0">
          <span>Previous</span>
        </button>
        <button nz-button nzType="default" (click)="stepNext()" *ngIf="currentStep < wizardTemplate.pages.length"  [disabled]="!wizardTemplate.pages[currentStep].pageForm.valid">
          <span>Next</span>
        </button>
        <button nz-button nzType="primary" (click)="stepDone()" *ngIf="currentStep === wizardTemplate.pages.length" [disabled]="!wizardTemplate.pages[currentStep].pageForm.valid">
          <span>Done</span>
        </button>
      </div>
<!--            <clr-wizard #wizard [(clrWizardOpen)]="isFormVisible" (clrWizardOnFinish)="onWizardFinish()">-->
<!--              <clr-wizard-title>{{wizardTemplate.title}}</clr-wizard-title>-->

<!--              <clr-wizard-button type="cancel">Cancel</clr-wizard-button>-->
<!--              <clr-wizard-button type="previous">Back</clr-wizard-button>-->
<!--              <clr-wizard-button type="next">Next</clr-wizard-button>-->
<!--              <clr-wizard-button type="finish">Finish</clr-wizard-button>-->

<!--              <div *ngFor="let wizardPage of wizardTemplate.pages">-->
<!--                <clr-wizard-page-->
<!--                  [clrWizardPageNextDisabled]="wizardPage.requireValidForm ? !wizardPage.pageForm.valid : null">-->
<!--                  <ng-template clrPageTitle>{{wizardPage.title}}</ng-template>-->
<!--                  <ng-template clrPageNavTitle>{{wizardPage.navTitle}}</ng-template>-->
<!--                  <app-in-app-alert [messages]="formMessages"></app-in-app-alert>-->
<!--                  <form *ngIf="isFormVisible"-->
<!--                        [formGroup]="wizardPage.pageForm" class="clr-form clr-form-vertical">-->
<!--                    <div *ngFor="let question of wizardPage.questions" class="form-row">-->
<!--                      <app-dynamic-form-question [form]="wizardPage.pageForm" [qBase]="question"-->
<!--                                                 (qValue)="onQuestionValue(wizardPage, question.key, $event)"></app-dynamic-form-question>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                  <clr-datagrid *ngIf="wizardPage.formValidProcess.length > 0">-->
<!--                    <clr-dg-column>Process</clr-dg-column>-->
<!--                    <clr-dg-column>New field</clr-dg-column>-->
<!--                    <clr-dg-column>Result</clr-dg-column>-->
<!--                    <clr-dg-column></clr-dg-column>-->

<!--                    <clr-dg-row *ngFor="let process of wizardPage.formValidProcess; let i = index">-->
<!--                      <clr-dg-cell>{{process.processType}}</clr-dg-cell>-->
<!--                      <clr-dg-cell>{{process.newField}}</clr-dg-cell>-->
<!--                      <clr-dg-cell>-->
<!--                        <div [ngSwitch]="process.processType">-->
<!--                          <div *ngSwitchDefault>-->
<!--                            {{process.result}}-->
<!--                          </div>-->
<!--                          <div *ngSwitchCase="'file-copy'">-->
<!--                        <span *ngIf="process.result">-->
<!--                        {{process.result.length}} file{{process.result.length > 1 ? 's' : ''}} copied-->
<!--                        </span>-->
<!--                          </div>-->
<!--                          <div *ngSwitchCase="'file-rename'">-->
<!--                        <span *ngIf="process.result">-->
<!--                        {{process.result.length}} file{{process.result.length > 1 ? 's' : ''}} renamed-->
<!--                        </span>-->
<!--                          </div>-->
<!--                          <div *ngSwitchCase="'folder-watch'">-->
<!--                        <span *ngIf="process.result">-->
<!--                        {{process.result.length}} file{{process.result.length > 1 ? 's' : ''}} detected-->
<!--                        </span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </clr-dg-cell>-->
<!--                      <clr-dg-cell>-->
<!--                        <button class="btn btn-sm btn-primary" *ngIf="!process.auto"-->
<!--                                (click)="activateProcess(wizardPage, process, i)">Activate-->
<!--                        </button>-->
<!--                        <button class="btn btn-sm btn-primary" *ngIf="process.allowCopy && process.result"-->
<!--                                (click)="clipboardCopy(process.result)">Copy-->
<!--                        </button>-->
<!--                      </clr-dg-cell>-->
<!--                    </clr-dg-row>-->
<!--                    <clr-dg-footer>{{wizardPage.formValidProcess.length}} processes</clr-dg-footer>-->
<!--                  </clr-datagrid>-->
<!--                </clr-wizard-page>-->
<!--              </div>-->
<!--            </clr-wizard>-->
    </ng-container>
  </nz-spin>
  <div *ngIf="result" class="form-row">
    <h5 class="text-primary">Preview your data</h5>
    <app-dynamic-form-result-preview #formDataPreview [data]="result?.record"></app-dynamic-form-result-preview>
  </div>
</div>

<clr-modal [(clrModalOpen)]="showNotSavedWarning">
  <h3 class="modal-title">Record not yet saved!</h3>
  <div class="modal-body">
    <p class="text-danger">Please note that your record has not been saved yet. If you need to make any change, you can
      reopen the form and make necessary changes.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="showNotSavedWarning = false">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showMultipleFormCodeDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Multiple forms available</h3>
  <div class="modal-body">
    <clr-select-container>
      <label>Select a form</label>
      <select clrSelect [(ngModel)]="formCode" required>
        <option *ngFor="let f of formTemplates" [ngValue]="f.identifier">[{{f.identifier}}] {{f.name}}</option>
      </select>
      <clr-control-helper>Select a form to continue</clr-control-helper>
    </clr-select-container>
    <br>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="getFormTemplateWithCode()">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showNoFormDialog" [clrModalClosable]="false">
  <h3 class="modal-title">No form available</h3>
  <div class="modal-body">
    <p>No form is not available yet for your current instrument in this study.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="toPortal()">Go back to Portal</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showSavedDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Record saved</h3>
  <div class="modal-body">
    <p>Your record has been:</p>
    <ul>
      <li>
        <clr-icon shape="check" class="is-success"></clr-icon>
        saved locally
      </li>
      <li>
        <clr-icon shape="info-circle" [attr.shape]="sentToServer? 'check' : 'times'"
                  [ngClass]="{'is-success': sentToServer, 'is-error': !sentToServer}"></clr-icon>
        {{ sentToServer ? '' : 'NOT'}} sent to the server
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="toPortal()">Continue</button>
  </div>
</clr-modal>



