  <form nz-form [formGroup]="settingForm" nzLayout="vertical">
    <nz-form-item>
      <nz-form-control [nzExtra]="dataDirectory">
        <button nz-button nzType="primary" (click)="setDataDirectory()">Set data directory</button>
      </nz-form-control>
      <ng-template #dataDirectory>
        <nz-tag [nzColor]="this.settingForm.get('dirData').value ? 'green' : 'red'">{{this.settingForm.get('dirData').value ? this.settingForm.get('dirData').value : 'Data directory not set'}}</nz-tag>
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="api-root"><strong>API Root</strong></nz-form-label>
      <nz-form-control [nzExtra]="apiRoot">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="20">
            <input id="api-root" type="text" nz-input formControlName="apiRoot" placeholder="API root URL"/>
          </div>
          <div nz-col [nzSpan]="4">
            <button nz-button nzType="primary" (click)="validateApiRoot()">Validate</button>
          </div>
        </div>
      </nz-form-control>
      <ng-template #apiRoot>
        <nz-tag [nzColor]="isApiRootValid ? 'green' : 'red'">{{isApiRootValid ? 'Valid' : 'Invalid'}}</nz-tag>
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Access Token</strong></nz-form-label>
      <nz-form-control [nzExtra]="accessToken">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="10">
            <input type="text" nz-input formControlName="apiToken" placeholder="API access token"/>
          </div>
          <div nz-col [nzSpan]="10">
            <input type="text" nz-input formControlName="apiKey" placeholder="API access key"/>
          </div>
          <div nz-col [nzSpan]="4">
            <button nz-button nzType="primary" (click)="validateApiTokenKey()">Validate</button>
          </div>
        </div>
      </nz-form-control>
      <ng-template #accessToken>
        <nz-tag [nzColor]="isApiTokenKeyValid ? 'green' : 'red'">{{isApiTokenKeyValid ? 'Valid' : 'Invalid'}}</nz-tag>
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Server Monitor Interval (milliseconds)</strong></nz-form-label>
      <nz-form-control nzExtra="Updated value will take effect on next startup.">
        <nz-input-number required formControlName="serverMonitorInterval" [nzMin]="5000" [nzStep]="100"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Server Monitor Retry Interval (milliseconds)</strong></nz-form-label>
      <nz-form-control nzExtra="Updated value will take effect on next startup.">
        <nz-input-number required formControlName="serverMonitorRetryInterval" [nzMin]="1000" [nzStep]="100"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </form>
