<nz-tabset>
  <nz-tab nzTitle="General">
    <app-mandatory-setting></app-mandatory-setting>
  </nz-tab>
  <nz-tab nzTitle="Advanced">
    <form nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label><strong>Developer tool</strong></nz-form-label>
        <nz-form-control >
          <button nz-button nzType="danger" (click)="showDevTools()">Show developer tool</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label><strong>Cache</strong></nz-form-label>
        <nz-form-control [nzExtra]="appCache">
          <button nz-button nzType="danger" (click)="showClearCacheModal()">Clear cache</button>
        </nz-form-control>
        <ng-template #appCache>
          <nz-tag [nzColor]="'red'">You will lose all current settings.</nz-tag>
        </ng-template>
      </nz-form-item>
    </form>
  </nz-tab>
</nz-tabset>

<ng-template #clearCacheModalContent>
  <nz-alert nzType="warning" nzMessage="You will lose all saved settings. LabPipe will restart automatically." nzShowIcon></nz-alert>
  <nz-alert nzType="info" nzMessage="Your saved record data will not be affected." nzShowIcon></nz-alert>
</ng-template>
