<nz-tabset>
  <nz-tab nzTitle="Remote records">
    <button nz-button nzType="primary" (click)="loadRemoteRecords()">Reload</button>
    <nz-table #remoteTable [nzData]="remoteRecords" [nzTitle]="remoteTableHeader" [nzLoading]="remoteLoading">
      <thead>
      <tr>
        <th nzShowExpand></th>
        <th>Study</th>
        <th>Instrument</th>
        <th>Form</th>
        <th>Created</th>
        <th>Operator</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="remoteTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandRemoteData[data.actionIdentifier]"></td>
          <td>{{data.studyIdentifier}}</td>
          <td>{{data.instrumentIdentifier}}</td>
          <td>{{data.formIdentifier}}</td>
          <td>{{data.created | date: 'yyyy-MM-dd' }}</td>
          <td>{{data.uploaded_by}}</td>
          <td>
            <button nz-button nzType="dashed" (click)="showRemoteReportModal(data, reportContent, reportFooter)">Preview</button>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandRemoteData[data.actionIdentifier]">
          <td></td>
          <td colspan="6">
            {{data | json}}
          </td>
        </tr>
      </ng-template>
      </tbody>
      <ng-template #remoteTableHeader>
        <nz-statistic [nzValue]="remoteRecords?.length | number" [nzTitle]="'Total remote records'"></nz-statistic>
      </ng-template>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Local records">
    <button nz-button nzType="primary" (click)="loadLocalRecords()">Reload</button>
    <nz-table #localTable [nzData]="localRecords" [nzTitle]="localTableHeader" [nzLoading]="localLoading">
      <thead>
      <tr>
        <th nzShowExpand></th>
        <th>Study</th>
        <th>Instrument</th>
        <th>Form</th>
        <th>Created</th>
        <th>Operator</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="localTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandLocalData[data._id]"></td>
          <td>{{data.data.studyIdentifier}}</td>
          <td>{{data.data.instrumentIdentifier}}</td>
          <td>{{data.data.formIdentifier}}</td>
          <td>{{data.data.created | date: 'yyyy-MM-dd' }}</td>
          <td>{{data.data.saved_by}}</td>
          <td>
            <button nz-button nzType="dashed" (click)="upload(data)">Upload</button>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandLocalData[data._id]">
          <td></td>
          <td colspan="6">
            {{data | json}}
          </td>
        </tr>
      </ng-template>
      </tbody>
      <ng-template #localTableHeader>
        <nz-statistic [nzValue]="localRecords?.length | number" [nzTitle]="'Total local records'"></nz-statistic>
      </ng-template>
    </nz-table>
  </nz-tab>
</nz-tabset>

<ng-template #reportContent>
  <nz-descriptions nzTitle="Study" nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Identifier">{{remoteReport?.study?.identifier}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Name">{{remoteReport?.study?.name}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="Instrument" nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Identifier">{{remoteReport?.instrument?.identifier}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Name">{{remoteReport?.instrument?.name}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="Collection" nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Operator">{{remoteReport?.record?.uploaded_by}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Date">{{remoteReport?.record?.created | date:'yyyy-MM-dd HH:mm'}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="Sample" nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Operator">{{remoteReport?.record?.uploaded_by}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Date">{{remoteReport?.record?.created | date:'yyyy-MM-dd HH:mm'}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions *ngFor="let formResult of remoteReport?.record?.record | keyvalue" [nzTitle]="formResult.key" nzBordered [nzColumn]="1">
    <nz-descriptions-item *ngFor="let fieldResult of formResult.value | keyvalue" [nzTitle]="fieldResult.key">
      <ng-container *ngIf="!isArray(fieldResult.value); else iterableField">
        {{fieldResult.value}}
      </ng-container>
      <ng-template #iterableField>
        <nz-list
          [nzDataSource]="fieldResult.value"
          nzBordered
          nzSize="small"
          [nzRenderItem]="fieldValueItem"
        >
          <ng-template #fieldValueItem let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
        </nz-list>
      </ng-template>
    </nz-descriptions-item>
  </nz-descriptions>
</ng-template>

<ng-template #reportFooter>
  <button nz-button nzType="dashed" (click)="downloadPdf()" disabled>Download PDF</button>
  <button nz-button nzType="primary" (click)="destroyRemoteReportModal()">Close</button>
</ng-template>
