<nz-tabset>
  <nz-tab nzTitle="Access Control">
    <div nz-row nzType="flex" nzJustify="start" nzGutter="8">
      <div nz-col>
        <button nz-button nzType="default" (click)="addNewRecord('operator')">Operator</button></div>
      <div nz-col>
      <button nz-button nzType="default" (click)="addNewRecord('token')">Access Token</button></div>
      <div nz-col>
      <button nz-button nzType="default" (click)="addNewRecord('role')">Role</button></div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Parameter">
    <div class="card">
      <div class="card-header">
        Add
      </div>
      <div class="card-block">
        <div class="card-text">
          <button class="btn btn-primary-outline" (click)="addNewRecord('study')" disabled>Study</button>
          <button class="btn btn-primary-outline" (click)="addNewRecord('location')">Location</button>
          <button class="btn btn-primary-outline" (click)="addNewRecord('instrument')">Instrument</button>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Notification">
    <div class="card">
      <div class="card-header">
        Add
      </div>
      <div class="card-block">
        <div class="card-text">
          <button class="btn btn-primary-outline" (click)="addNewRecord('email-group')">Email Group</button>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Form & Report">
    <div class="card">
      <div class="card-header">
        Add
      </div>
      <div class="card-block">
        <div class="card-text">
          <button class="btn btn-primary-outline" disabled>Form Template</button>
          <button class="btn btn-primary-outline" disabled>Report Template</button>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newOperator"
  nzPlacement="right"
  nzTitle="New operator"
  (nzOnClose)="onConfirm('operator', false, operatorForm)"
>
  <form nz-form nzLayout="vertical" [formGroup]="operatorForm">
    <nz-form-item>
      <nz-form-label><strong>Full name</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="name" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Email</strong></nz-form-label>
      <nz-form-control>
        <input type="email" nz-input formControlName="email" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
    <nz-form-label><strong>Study</strong></nz-form-label>
    <nz-form-control>
      <nz-select
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="studyMaxTagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Please select"
        formControlName="projects"
      >
        <nz-option *ngFor="let study of studies" [nzLabel]="study.name" [nzValue]="study.identifier"></nz-option>
      </nz-select>
      <ng-template #studyMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
    </nz-form-control>
  </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Role</strong></nz-form-label>
      <nz-form-control>
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="roleMaxTagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select"
          formControlName="roles"
        >
          <nz-option *ngFor="let role of roles" [nzLabel]="role.name" [nzValue]="role.identifier"></nz-option>
        </nz-select>
        <ng-template #roleMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Email group</strong></nz-form-label>
      <nz-form-control>
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="emailGroupMaxTagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select"
          formControlName="roles"
        >
          <nz-option *ngFor="let nfg of notificationGroups" [nzLabel]="nfg.name" [nzValue]="nfg.identifier"></nz-option>
        </nz-select>
        <ng-template #emailGroupMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button (click)="onConfirm('operator', true, operatorForm)">Continue</button>
      </nz-form-control>
    </nz-form-item>
</form>
</nz-drawer>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newToken"
  nzPlacement="right"
  nzTitle="New token"
  (nzOnClose)="onConfirm('token', false, operatorForm)"
>
  <p nz-typography nzType="warning">You are going to create a new access token.</p>
  <button nz-button (click)="onConfirm('token', true, operatorForm)">Continue</button>
</nz-drawer>

<clr-modal [(clrModalOpen)]="showModal.newRole">
  <h3 class="modal-title">Add new role</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-vertical" [formGroup]="roleForm">
      <clr-input-container>
        <label>Identifier</label>
        <input clrInput type="text" formControlName="identifier" required />
      </clr-input-container>
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" formControlName="name" required />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirm('role', false, roleForm)">Cancel</button>
    <button class="btn btn-danger" type="button" [disabled]="!roleForm.valid" (click)="onConfirm('role', true, roleForm)">Continue</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showModal.newLocation">
  <h3 class="modal-title">Add new role</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-vertical" [formGroup]="locationForm">
      <clr-input-container>
        <label>Identifier</label>
        <input clrInput type="text" formControlName="identifier" required />
      </clr-input-container>
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" formControlName="name" required />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirm('location', false, locationForm)">Cancel</button>
    <button class="btn btn-danger" type="button" [disabled]="!locationForm.valid" (click)="onConfirm('location', true, locationForm)">Continue</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showModal.newInstrument">
  <h3 class="modal-title">Add new instrument</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-vertical" [formGroup]="instrumentForm">
      <clr-input-container>
        <label>Identifier</label>
        <input clrInput type="text" formControlName="identifier" required />
      </clr-input-container>
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" formControlName="name" required />
      </clr-input-container>
      <clr-toggle-container>
        <label>Online instrument?</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrToggle formControlName="realtime" />
          <label>{{instrumentForm.get('realtime').value ? 'Yes' : 'No'}}</label>
        </clr-checkbox-wrapper>
      </clr-toggle-container>
      <app-multiple-input title="File type" (valueChanged)="updateForm(instrumentForm, 'fileType', $event)"></app-multiple-input>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirm('instrument', false, instrumentForm)">Cancel</button>
    <button class="btn btn-danger" type="button" [disabled]="!instrumentForm.valid" (click)="onConfirm('instrument', true, instrumentForm)">Continue</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showModal.newEmailGroup">
  <h3 class="modal-title">Add new email group</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-vertical" [formGroup]="emailGroupForm">
      <clr-input-container>
        <label>Identifier</label>
        <input clrInput type="text" formControlName="identifier" required />
      </clr-input-container>
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" formControlName="name" required />
      </clr-input-container>
      <clr-select-container>
        <label>Form</label>
        <select clrSelect formControlName="formIdentifier" required>
          <option *ngFor="let f of formTemplates" [ngValue]="f.identifier">{{f.name}}</option>
        </select>
      </clr-select-container>
      <app-multiple-select id="groupadmin" title="Group administrator" [options]="operators" displayField="name" valueField="username" (valueChanged)="updateForm(emailGroupForm, 'admin', $event)"></app-multiple-select>
      <app-multiple-select id="groupmember" title="Group member" [options]="operators" displayField="name" valueField="username" (valueChanged)="updateForm(emailGroupForm, 'member', $event)"></app-multiple-select>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirm('email-group', false, emailGroupForm)">Cancel</button>
    <button class="btn btn-danger" type="button" [disabled]="!emailGroupForm.valid" (click)="onConfirm('email-group', true, emailGroupForm)">Continue</button>
  </div>
</clr-modal>
