<nz-tabset>
  <nz-tab nzTitle="Access Control">
    <nz-card nzTitle="Add">
      <div nz-row nzType="flex" nzJustify="start" nzGutter="8">
        <div nz-col>
          <button nz-button nzType="default" (click)="addNewRecord('operator')">Operator</button>
        </div>
        <div nz-col>
          <button nz-button nzType="default" (click)="addNewRecord('token')">Access Token</button>
        </div>
        <div nz-col>
          <button nz-button nzType="default" (click)="addNewRecord('role')">Role</button>
        </div>
      </div>
    </nz-card>
  </nz-tab>
  <nz-tab nzTitle="Parameter">
    <nz-card nzTitle="Add">
      <div nz-row nzType="flex" nzJustify="start" nzGutter="8">
        <div nz-col>
          <button nz-col nz-button nzType="default" (click)="addNewRecord('study')" disabled>Study</button>
        </div>
        <div nz-col>
          <button nz-button nzType="default" (click)="addNewRecord('location')">Location</button>
        </div>
        <div nz-col>
          <button nz-button nzType="default" (click)="addNewRecord('instrument')">Instrument</button>
        </div>
      </div>
    </nz-card>
  </nz-tab>
  <nz-tab nzTitle="Notification">
    <nz-card nzTitle="Add">
      <div nz-row nzType="flex" nzJustify="start" nzGutter="8">
        <div nz-col>
          <button nz-button nzType="default" (click)="addNewRecord('email-group')">Email Group</button>
        </div>
      </div>
    </nz-card>
  </nz-tab>
  <nz-tab nzTitle="Form & Report">
    <nz-card nzTitle="Add">
      <div nz-row nzType="flex" nzJustify="start" nzGutter="8">
        <div nz-col>
          <button nz-button nzType="default" disabled>Form Template</button>
        </div>
        <div nz-col>
          <button nz-button nzType="default" disabled>Report Template</button>
        </div>
      </div>
    </nz-card>
  </nz-tab>
</nz-tabset>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newOperator"
  nzPlacement="right"
  nzTitle="New operator"
  (nzOnClose)="onConfirm('operator', false, operatorForm)"
>
  <form nz-form nzLayout="vertical" [formGroup]="operatorForm">
    <nz-form-item>
      <nz-form-label><strong>Full name</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="name" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Email</strong></nz-form-label>
      <nz-form-control>
        <input type="email" nz-input formControlName="email" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Study</strong></nz-form-label>
      <nz-form-control>
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="studyMaxTagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select"
          formControlName="projects"
        >
          <nz-option *ngFor="let study of studies" [nzLabel]="study.name" [nzValue]="study.identifier"></nz-option>
        </nz-select>
        <ng-template #studyMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Role</strong></nz-form-label>
      <nz-form-control>
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="roleMaxTagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select"
          formControlName="roles"
        >
          <nz-option *ngFor="let role of roles" [nzLabel]="role.name" [nzValue]="role.identifier"></nz-option>
        </nz-select>
        <ng-template #roleMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Email group</strong></nz-form-label>
      <nz-form-control>
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="emailGroupMaxTagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select"
          formControlName="roles"
        >
          <nz-option *ngFor="let nfg of notificationGroups" [nzLabel]="nfg.name" [nzValue]="nfg.identifier"></nz-option>
        </nz-select>
        <ng-template #emailGroupMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [disabled]="!operatorForm.valid" (click)="onConfirm('operator', true, operatorForm)">
          Continue
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newToken"
  nzPlacement="right"
  nzTitle="New token"
  (nzOnClose)="onConfirm('token', false, operatorForm)"
>
  <p nz-typography nzType="warning">You are going to create a new access token.</p>
  <button nz-button (click)="onConfirm('token', true, operatorForm)">Continue</button>
</nz-drawer>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newRole"
  nzPlacement="right"
  nzTitle="New role"
  (nzOnClose)="onConfirm('role', false, roleForm)"
>
  <form nz-form nzLayout="vertical" [formGroup]="roleForm">
    <nz-form-item>
      <nz-form-label><strong>Identifier</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="identifier" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Name</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="name" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [disabled]="!roleForm.valid" (click)="onConfirm('role', true, roleForm)">Continue</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newLocation"
  nzPlacement="right"
  nzTitle="New location"
  (nzOnClose)="onConfirm('location', false, locationForm)"
>
  <form nz-form nzLayout="vertical" [formGroup]="locationForm">
    <nz-form-item>
      <nz-form-label><strong>Identifier</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="identifier" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Name</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="name" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [disabled]="!locationForm.valid" (click)="onConfirm('location', true, locationForm)">
          Continue
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newInstrument"
  nzPlacement="right"
  nzTitle="New instrument"
  (nzOnClose)="onConfirm('instrument', false, instrumentForm)"
>
  <form nz-form nzLayout="vertical" [formGroup]="instrumentForm">
    <nz-form-item>
      <nz-form-label><strong>Identifier</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="identifier" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Name</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="name" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Realtime data generation</strong></nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="realtime" nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Data file type</strong></nz-form-label>
      <nz-form-control nzExtra="You may enter a different file type if not listed.">
        <nz-select nzMode="tags" formControlName="fileType">
          <nz-option nzLabel="h5" nzValue="h5"></nz-option>
          <nz-option nzLabel="csv" nzValue="csv"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [disabled]="!instrumentForm.valid" (click)="onConfirm('instrument', true, instrumentForm)">
          Continue
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showModal.newEmailGroup"
  nzPlacement="right"
  nzTitle="New email group"
  (nzOnClose)="onConfirm('email-group', false, emailGroupForm)"
>
  <form nz-form nzLayout="vertical" [formGroup]="emailGroupForm">
    <nz-form-item>
      <nz-form-label><strong>Identifier</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="identifier" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Name</strong></nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="name" required/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>formIdentifier</strong></nz-form-label>
      <nz-form-control>
        <nz-select nzShowSearch nzAllowClear formControlName="formIdentifier">
          <nz-option *ngFor="let f of formTemplates" [nzLabel]="f.identifier" [nzValue]="f.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Group administrators</strong></nz-form-label>
      <nz-form-control>
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="groupAdminMaxTagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select"
          formControlName="admin"
        >
          <nz-option *ngFor="let o of operators" [nzLabel]="o.name" [nzValue]="o.username"></nz-option>
        </nz-select>
        <ng-template #groupAdminMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><strong>Group members</strong></nz-form-label>
      <nz-form-control>
        <nz-select
          [nzMaxTagCount]="3"
          [nzMaxTagPlaceholder]="groupMemberMaxTagPlaceHolder"
          nzMode="multiple"
          nzPlaceHolder="Please select"
          formControlName="member"
        >
          <nz-option *ngFor="let o of operators" [nzLabel]="o.name" [nzValue]="o.username"></nz-option>
        </nz-select>
        <ng-template #groupMemberMaxTagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [disabled]="!emailGroupForm.valid" (click)="onConfirm('email-group', true, emailGroupForm)">
          Continue
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>
