/* You can add global styles to this file, and also import other style files */

.cursor-hand {
  cursor: pointer;
}

.clarity-blue {
  color: #0065AB;
}

.fullheight {
  min-height: 100vh;
}

.fullwidth {
  width: 100%;
}

.safe-margin {
  margin: 34px;
}

.m-t-5 {
  margin-top: 5px;
}
