<nz-descriptions [nzTitle]="operator.name" nzBordered [nzColumn]="1">
  <nz-descriptions-item nzTitle="Name">{{operator.name}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Username">{{operator.username}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email">{{operator.email}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Studies">
    <nz-list [nzDataSource]="operator.projects" nzBordered [nzRenderItem]="defaultItem">
      <ng-template #defaultItem let-item>
        <nz-list-item>
          {{ item }}
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Notification groups">
    <nz-list [nzDataSource]="operator.notificationGroup" nzBordered [nzRenderItem]="defaultItem">
    </nz-list>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Roles">
    <nz-list [nzDataSource]="operator.roles" nzBordered [nzRenderItem]="defaultItem">
    </nz-list>
  </nz-descriptions-item>
</nz-descriptions>
<button nz-button nzType="danger" class="m-t-5" (click)="showModal.changePassword = true">Change password</button>

<clr-modal [(clrModalOpen)]="showModal.changePassword">
  <h3 class="modal-title">Change password</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-vertical" [formGroup]="changePasswordForm">
      <clr-password-container>
        <label>Current password</label>
        <input clrPassword formControlName="current" required/>
      </clr-password-container>
      <clr-password-container>
        <label>New password</label>
        <input clrPassword formControlName="newPassword" required/>
      </clr-password-container>
      <clr-password-container>
        <label>Confirm new password</label>
        <input clrPassword formControlName="confirm" required/>
      </clr-password-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirm('change-password', false, changePasswordForm)">Cancel</button>
    <button class="btn btn-danger" type="button" [disabled]="!changePasswordForm.valid" (click)="onConfirm('change-password', true, changePasswordForm)">Continue</button>
  </div>
</clr-modal>
